jinja2
numpy
pyqt5
 pyqtchart-qt5
 python-dateutil
 pyqtchart
pip install pyqt5 pyqtchart python-dateutil numpy jinja2
 designer:
 sudo apt-get install qttools5-dev-tools
 sudo apt-get install qttools5-dev

sudo apt install sqlitebrowser

fedora:
pip install qt5-tools==5.14.0
QT_QPA_PLATFORM=xcb qt5-tools designer

server: carpeta infomesas-server
npm install
node index.js (?)

pyqt6

Package          Version
---------------- -----------
Jinja2           3.1.6
MarkupSafe       3.0.3
numpy            2.4.6
pip              26.1.1
PyQt6            6.11.0
PyQt6-Charts     6.11.0
PyQt6-Charts-Qt6 6.11.1
PyQt6-Qt6        6.11.1
PyQt6_sip        13.11.1
PyQtChart        5.15.7
python-dateutil  2.9.0.post0
six              1.17.0
